:root{
    --text: #222222;
    --white: #FFFFFF;
     --success: #339900;
     --danger:#FF0000;
    --warning: #ff9966;  
  }
  

:root {
  --primary-1: #00A58E; 
  --primary-2: #009580;
  --primary-3: #008472; 
  
  --secondary-1: #ECF8F7; 
  --secondary-2: #D6F0EC; 
  --secondary-3: #BFE8E2; 
}

/* Add styles for the color display */
.color-sample {
  width: 100px; /* Width of the color sample */
  height: 100px; /* Height of the color sample */
  display: inline-block;
  margin: 0px;
  border: 1px solid #000; /* Optional: adds a border around the color sample */
}

.label {
  display: block;
  text-align: left;
  margin-top: 5px;
}

.color-rectangle {
  height: 50px; /* Height of the rectangle */
  width: 200px; /* Width of the rectangle */
  margin: 10px 0; /* Spacing above and below the rectangle */
}

.primary-color {
  background-color: var(--primary-1);
  height: 50px; 
  width: 200px; 
  margin: 10px 0;
}

.primary-shade-1 {
  background-color: var(--primary-2);
  height: 50px; 
  width: 200px; 
  margin: 10px 0;
}

.primary-shade-2 {
  background-color: var(--primary-3);
  height: 50px; 
  width: 200px; 
  margin: 10px 0;
}

.secondary-color {
  background-color: var(--secondary-1);
  height: 50px;
  width: 200px; 
  margin: 10px 0;
}

.secondary-shade-1 {
  background-color: var(--secondary-2);
  height: 50px; 
  width: 200px; 
  margin: 10px 0;
}

.secondary-shade-2 {
  background-color: var(--secondary-3);
  height: 50px;
  width: 200px; 
  margin: 10px 0;
}


  body{
   font-family:"Roboto", sans-seriff;
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: x-large;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .btn-sm{
    background-color: var(--primary-1);
    Color: var(--white);
    border-color:var(--primary-1);
 
  }
  .btn-sm:hover {
    background-color: var(--primary-3);
    border-color:var(--primary-3);
    Color: var(--white);
    filter: drop-shadow(2px 2px 3px #000000);
  }
  .btn-primary{
    background-color: var(--primary-1);
    border-color:var(--primary-1);
    Color: var(--white);
 
  }
  .btn-primary:hover{
    background-color: var(--primary-3);
    border-color:var(--primary-3);
    Color: var(--white);
    filter: drop-shadow(2px 2px 3px #000000);
  }
  .btn-lg{
    background-color: var(--primary-1);
    border-color: var(--primary-1);
    Color: var(--white);
  }
  .btn-lg:hover{
    background-color: var(--primary-3);
    border-color: var(--primary-3);
    Color: var(--white);
    filter: drop-shadow(2px 2px 3px #000000);
  }
 